body{
    margin: 0%;
}
.grid{
    display: grid;
    grid-template-areas: 
    "gridHeader"
    "main"
    "footer";
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-columns: 100%;
    background-image: linear-gradient(to bottom right, orange, #FFE66D);
}
.Toastify__toast-body { font-family: 'Patrick Hand'; }
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: gridHeader;
}
h1{
    font-family: 'Monoton', cursive;
    font-weight: 90;
    font-size: 50px;
    word-spacing: 20px;
}

main{
    grid-area: main;
    display: flex;
}
#monedas{
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#fiat{
    display: flex;
    height: 150px;
    width: 350px;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
#cripto{
    display: flex;
    height: 100px;
    width: 350px;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}
#monedas h2{
    font-family: 'Forum', cursive;
    font-size: 20px;
    margin: 10px 10px;
    display: inline;
    margin: 10px;
}
#monedas p{
    display: inline;
}


#formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
}
#formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    display: flex;

}
#formulario form label{
    font-family: 'Forum', cursive;
    font-size: 20px;
    margin: 10px;
}
.formulario_input{
    font-family: 'Forum', cursive;
    font-size: 15px;
    margin: 5px;
}
.formulario_boton{
    width: 100px;
    font-family: 'Forum', cursive;
    font-size: 15px;
    margin: 5px;
    height: 40px;
}
.mostrador{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}
.formulario_select{
    height: 40px;
    font-size: 15px;
    display: inline;
}
#contenedorBoton{
    background-color: transparent;
    border: 0px;
    display: inline;
}
#botonDuda{
    height: 15px;
    width: 15px;
}

#resultados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}
#resultados div{
    margin: 10px;
}
#resultados p{
    font-family: 'Forum', cursive;
    font-size: 25px;
    display: inline;
    margin: 17px;
}
#resultados h2{
    font-family: 'Montserrat';
    font-size: 25px;
    display: inline;
}


footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boton_estilo{
    height: 40px;
    width: 100px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-color: red;
    background-color: #FFE66D;
    border-radius: 5px;
}